%h1 Listing blogs
= select_tag "Options", options_for_select(@options), prompt: "- Options -"
%table.table
  %thead
    %tr
      %th= check_box_tag "all_blogs"
      %th Title
      %th Content
      %th Status
      %th User
      %th{:colspan => "3"}
  %tbody
    - @blogs.each do |blog|
      %tr
        %td= check_box_tag "blog-#{blog.id}"
        %td= blog.title
        %td= blog.content
        %td= blog.status
        %td= blog.user.email
        %td= link_to 'Show', blog
        %td= link_to 'Edit', edit_blog_path(blog)
        %td= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }
%br/
- if user_signed_in?
  = link_to 'New Blog', new_blog_path
