%p#notice= notice

%h1
  %strong= @blog.title

%hr

%p
  = @blog.content

%hr

%p
  %strong Comments:

= form_for @comment, url: add_comment_blog_path(@blog) do |f|
  = f.text_area :message, required: true
  %br
  = f.submit "Post Comment"

%br
%p
  %strong All Comments:

- @all_comments.each do |comment|
  .panel.panel-default
    .panel-heading
      %strong= comment.user_email
    .panel-body= comment.message


= link_to 'Edit', edit_blog_path(@blog)
|
= link_to 'Back', blogs_path
