%p#notice= notice
%p
  %strong Title:
  = @blog.title
%p
  %strong Content:
  = @blog.content
%p
  %strong Status:
  = @blog.status
%p
  %strong User:
  = @blog.user
= link_to 'Edit', edit_blog_path(@blog)
|
= link_to 'Back', blogs_path
